<app-header></app-header>
<div class="image-container">
    <h1>User Details</h1>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">User Information</h5>
            <p class="card-text"><strong>Name: </strong>{{UserDetails.accountDetails.fullName}}</p>
            <p class="card-text"><strong>Father's Name: </strong>{{UserDetails.accountDetails.fathersName}}</p>
            <p class="card-text"><strong>Phone: </strong>{{UserDetails.accountDetails.mobileNumber}}</p>
            <p class="card-text"><strong>Email: </strong>{{UserDetails.accountDetails.email}}</p>
            <p class="card-text"><strong>Aadhar Card Number: </strong>{{UserDetails.accountDetails.aadharNumber}}</p>
            <p class="card-text"><strong>Date Of Birth: </strong>{{UserDetails.accountDetails.dob}}</p>
            <p class="card-text offset-2"><strong>Residental Address: </strong></p>
            <p class="card-text"><strong>Address: </strong>{{UserDetails.accountDetails.rAddress}}</p>
            <p class="card-text"><strong>State: </strong>{{UserDetails.accountDetails.rState}}</p>
            <p class="card-text"><strong>City: </strong>{{UserDetails.accountDetails.rCity}}</p>
            <p class="card-text"><strong>Pincode: </strong>{{UserDetails.accountDetails.rPincode}}</p>
            <p class="card-text offset-2"><strong>Permanent Address: </strong></p>
            <p class="card-text"><strong>Address: </strong>{{UserDetails.accountDetails.pAddress}}</p>
            <p class="card-text"><strong>State: </strong>{{UserDetails.accountDetails.pState}}</p>
            <p class="card-text"><strong>City: </strong>{{UserDetails.accountDetails.pCity}}</p>
            <p class="card-text"><strong>Pincode: </strong>{{UserDetails.accountDetails.pPincode}}</p>
            <p class="card-text offset-2"><strong>Occupation: </strong></p>
            <p class="card-text"><strong>Occupation Type: </strong>{{UserDetails.accountDetails.occupationType}}</p>
            <p class="card-text"><strong>Source Of Income: </strong>{{UserDetails.accountDetails.income}}</p>
            <p class="card-text"><strong>Annual Income: </strong>{{UserDetails.accountDetails.annualIncome}}</p>
          </div>
        </div>
      </div>
    </div>
</div>