body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
  }
  
  .vh-40 {
    height: 40vh;
  }
  
  .card {
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  }
  
  .card-body {
    padding: 0;
  }
  
  .form-control {
    border-radius: 20px;
    margin-bottom: 1rem;
  }
  
  .btn-primary {
    background-color: #007bff;
    border: none;
    border-radius: 20px;
    padding: 0.75rem 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .FP {
    background-color: #ffc107;
    color: #212529;
    border-radius: 10px;
    padding: 0.5rem 1rem;
  }
  
  .text-success {
    color: #28a745;
  }
  
  .text-danger {
    color: #dc3545;
  }
  
  .bg-warning {
    background-color: #ffc107;
    color: #212529;
  }
  /* .container-fluid
  {
    width: 100%;
    height: 100vh;
    background-image: url("https://images.ctfassets.net/40w0m41bmydz/6y5vRpCj9feXQjCZVyzRRn/0c4f471b718c2caa856a32829e5df715/CDT-1375_Blog_Image_Hero.jpg?w=1980&h=834&fl=progressive&q=50&fm=jpg"); /* Specify the path to your image */
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  } */ 
  
  
  